<body>

  <div id="wrap" class="boxed">

  <header>
    <div class="container clearfix">
    
      <div class="logo one-third column" style="margin:0px; padding-top:10px;">
        <a href="/">
          <span style="font-family: 'League Gothic'; font-size:550%; color:white; margin-top:-20px;">PARLOR<span style="color:#00abc6;">FIVE</span></span>
        </a>
      </div>
      
      <div class="two-thirds column">
        <nav id="menu" class="navigation">
          <ul id="nav">
            <li><a href="/" id="home">Home</a></li>
            <li>
              <a href="${baseUrl}/pages/about.jsp" id="about">About</a>
              <ul>
                <li><a href="${baseUrl}/pages/about.jsp">About Us</a></li>
                <li><a href="${baseUrl}/pages/faq.jsp">FAQ</a></li>
                <li><a href="${baseUrl}/pages/contact.jsp">Contact</a></li>
                <li><a href="${baseUrl}/pages/subscribe.jsp">Subscribe</a></li>
                <li><a href="${baseUrl}/pages/artists.jsp">Demo Artists</a></li>
              </ul>
            </li>
            <li><a href="">Join</a></li> <!-- Open create account modal -->
          </ul>
        </nav>
      </div>
      
      <div class="sixteen columns"><hr /></div>
      
    </div><!-- End Container -->
  </header><!-- <<< End Header >>> -->
  
  <div class="container clearfix">
    
    <div class="recent-work gallery clearfix">
      <div class="slidewrap" >
        <div class="sixteen columns"> <h2 class="title">Recent Work <span class="line"></span></h2> </div>
        <ul class="slidecontrols">
          <li><a href="#sliderName" class="next">Next</a></li><li><a href="#sliderName" class="prev">Prev</a></li>
	      </ul>	
        <ul class="slider" id="sliderName">
          <li class="slide">	
            <div class="one-third column item">
                <div class="caption">
                <a href="single_project_1.html"><img src="images/img/thumbs/thumb-1.jpg" alt="" class="pic" />
                <span class="hover-effect link"></span></a>
                </div><!-- hover effect -->
                <h4><a href="single_project_1.html">MonsterUp</a></h4>
                <p>design ,graphic ,illustration</p>
            </div>
          </li><!-- End slide -->
        </ul>
      </div><!-- End slidewrap -->
    </div><!-- End recent-work -->
        
    <div id="welcome">
      <div class="sixteen columns">
        <div class="qoute">
          <div class="eleven columns omega">
            <h2>Interested in submitting work for the Parlor Five Beta?</h2>
            <p>We encourage all passionate artists to join!</p>
          </div>
          <div class="four columns alpha">
            <a href="join.jsp" class="link rounded">Join Now</a>
          </div>
        </div>
      </div>
    </div>
     
  </div>
  
  <footer>
    <div class="container">
    
      <div class="eight columns">
        <div class="about">
          <h3 class="title">About Us<span class="line"></span></h3>
          <p>
          Parlor Five is a platform developed by artists for artists. By facilitating a closer, more meaningful interaction within the artistic community, we hope to provide both exposure for up-and-coming artists and inspiration for art enthusiasts.
          </p>
        </div>
      </div>
      
      <div class="eight columns">
        <div class="subscribe">
          <h3 class="title">Subscribe<span class="line"></span></h3>
          <p>Subscribe to our e-mail newsletter to receive updates.</p>
          <div class="alert error hideit" style="display:none;">
          Email entered was invalid.
          <span class="close"></span>
        </div>
          <form action="/pages/newsletter/subscribe.jsp" method="POST" >
            <input type="text" name="email" class="mail" value="Enter your Email" onBlur="if(this.value == '') { this.value = 'Enter your Email'; }" 
            onfocus="if(this.value == 'Enter your Email') { this.value = ''; }"/>
            <input style="margin-right:17px;" type="submit" value="Submit" class="submit rounded_small" />
          </form>
        </div>
      </div>
      
      <div class="sixteen columns"><hr class="bottom" /></div>
      
      <div class="ten columns"><span class="copyright">
      &copy; Copyright 2013 <a href="/">Parlor Five</a>. All Rights Reserved. | <a href="/pages/privacy.jsp">Privacy Policy</a> | <a href="/pages/terms.jsp">Terms & Conditions</a></span></div>
      
      <div class="six columns">
        <div class="social">
          <a href="https://www.facebook.com/ParlorFive" target="_blank"><img src="/resources/img/icons/facebook.png" alt="" /></a>
          <a href="https://twitter.com/ParlorFive" target="_blank"><img src="/resources/img/icons/twitter.png" alt="" /></a>
        </div>
      </div>
    
    </div><!-- End container -->
  </footer><!-- <<< End Footer >>> -->
  
  </div><!-- End wrap -->
    
</body>
</html>